*{
    padding: 0px;
    margin: 0px;

}

body{
    background-color: rgb(228, 214, 196);
}

.container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.left > img{
    border: 2px solid black;
    border-radius: 80px;
}